/* Código de fonte */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Estilo padrão da página */
body {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #DE8B66;
    position: relative;
    min-height: 100vh;
    }
    
    header, footer {
    background-color: #DE8B66;
    color: #fff;
    padding: 10px;
    }
    
    h1, h2, p {
    margin: 0;
    }
    
    h1 {
    font-size: 32px;
    }
    
    h2 {
    font-size: 24px;
    }
    
    main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    }
    
    /* Estilo do formulário */
    
    .form-group {
    margin-bottom: 20px;
    }
    
    label {
    display: block;
    margin-bottom: 5px;
    }
    
    input[type="file"] {
    display: block;
    }
    
    button[type="submit"] {
    background-color: #DE8B66 ;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 4px;
    }
    
    button[type="submit"]:hover {
    background-color: #ac6e52 ;
    }
    
    /* Estilo do resultado */
    
    #result {
    margin-top: 40px;
    border-top: 2px solid #ccc;
    padding-top: 20px;
    }
    
    pre {
    background-color: #eee;
    padding: 10px;
    overflow-x: auto;
    }
    
    @media screen and (max-width: 600px) {
    /* Estilo responsivo para dispositivos com tela de até 600px */
    h1 {
    font-size: 24px;
    }
    
    h2 {
    font-size: 20px;
    }
    
    main {
    padding: 10px;
    }
    
    #result {
    margin-top: 20px;
    }
    
    pre {
    font-size: 14px;
    }
    }

    footer {
        text-align: center;
    }

    
.has-footer {
    margin-bottom: 50px; /* Altura do footer */
  }

  .footer {
    background-color: #DE8B66;
    color: #fff;
    padding: 50px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer li {
    margin-bottom: 10px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
/* Estilo para o botão personalizado */
#custom-button {
    background-color: #DE8B66;
    color: white;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: none;
  }
  
  /* Estilo para o texto indicando o nome do arquivo selecionado */
  #custom-text {
    margin-left: 10px;
    font-size: 14px;
  }
  
  /* Esconder o botão real */
  #real-file {
    display: none;
  }
  
  /* Estilo para quando o botão personalizado é clicado */
  #custom-button:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #DE8B66;
  }
  
  /* Estilo para quando o botão personalizado é hover */
  #custom-button:hover {
    background-color: #ac6e52;
    border: none;
  }
  
  button[type="file"] {
    outline: none;
  }
  
  button[type="submit"] {
    margin-top: 40px;
  }
  
  #file {
    margin-bottom: 10px;
  }

  select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #DE8B66;
    color: #ffffff;
  }
  
  select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #FFFFFF;
    background-color: #DE8B66;
  }
  
  label {
    padding-top: 20px; /* Adiciona um espaçamento de 10 pixels à direita do texto */
  }